a{
    color:black;
}
.container{
    background: rgb(185, 184, 184);
}
.navBar{
    width: 100%;
    height: 95px;
    border-bottom: #cccccc solid 2px;
}
.subNav{
    float: right;
    margin: 30px 10px 10px 10px;
    font-family: serif;
    color: #777777;
}
.name{
    margin-left:40px;
    background-color: #4aaaa5;
    width: 25%;
    float: left;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
}
.wrapper{
    
    width:50%;
    margin: 20px 0px 0px 40px;
    background: white;
    height:450px;
    padding-top: 10px;

    
}
.subTitle{
    margin-left: 20px;
    border-bottom:black solid 2px;
    color: #4aaaa5;
    font-family: serif;
}
.goose{
    height: 150px;
    width: 150px;
    float: left;
}
.footerOne{
    background-color: #4aaaa5;
    height: 10px;
    width: 100%;
    position: relative;
    top:300px;
}
.footerTwo{
    background-color: #666666;
    width: 100%;
    height: 50px;
    position: relative;
    top: 300px;
}




@media only screen and (max-width: 980px){
    .name{
        width:40%;
        
    }
    .wrapper{
        padding-right: 50px;
        width: 90%;
        
    }
}
@media only screen and (max-width: 768px){
    .name{
        width: 100%;
        margin-left: 0px;
    }
    .subNav{
      float : left;
      text-align: center;
     
    }
    .shift{
        margin-left: 125px;
    }
    .navbar{
        border-bottom: solid #cccccc 2px;
    }

    .wrapper{
        overflow: auto;
    }
    .goose{
        width: 400px;
        height: 400px;
    
    }
    .wrapper{
        height: 700px;
    }
    p{
        float: left;
        font-size: 20px;
    }
}